wheel>=0.37.1,<1.0.0
flake8>=3.5.0,<4.0.0
google-cloud-bigquery>=3.19.0,<4.0.0
google-cloud-pubsub>=2.8.0,<3.0.0
google-cloud-vision>=2.5.0,<3.0.0
percy-python-selenium>=0.1.0,<1.0.0
python-dateutil>=2.7.2,<3.0.0
requests>=2.22.0,<3.0.0
selenium>=3.0.0,<4.0.0
boto3>=1.24.21,<2.0.0
python-dotenv>=0.20.0<=0.21.0
beautifulsoup4>=4.11.1<=4.12.0
webdriver-manager>=3.8.2<=3.9.0
chromedriver-autoinstaller>=0.4.0<=1.0.0
spam_patterns @ git+https://github.com/CUAHSI/spam_patterns.git@0.0.1
