flake8>=3.5.0,<4.0.0
google-cloud-pubsub>=2.8.0,<3.0.0
google-cloud-vision>=2.5.0,<3.0.0
percy-python-selenium>=0.1.0,<1.0.0
python-dateutil>=2.7.2,<3.0.0
requests>=2.22.0,<3.0.0
selenium>=3.0.0,<4.0.0