apturl==0.5.2
astroid==1.4.4
Brlapi==0.6.4
chardet==2.3.0
chrome-gnome-shell==0.0.0
command-not-found==0.3
coverage==3.7.1
cycler==0.9.0
defer==1.0.6
html5lib==0.999
language-selector==0.1
lazy-object-proxy==1.2.1
logilab-common==1.1.0
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==1.5.1
mccabe==0.6.1
numpy==1.11.0
pexpect==4.0.1
Pillow==3.1.2
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
pygobject==3.20.0
pylint==1.5.2
pyparsing==2.0.3
python-apt==1.1.0b1
python-dateutil==2.4.2
python-debian==0.1.27
python-systemd==231
pytz==2014.10
pyxdg==0.25
reportlab==3.3.0
requests==2.9.1
selenium==3.7.0
sessioninstaller==0.0.0
six==1.10.0
ssh-import-id==5.5
system-service==0.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
virtualenv==15.0.1
wrapt==1.8.0
xdiagnose==3.8.4.1
xkit==0.0.0
